/* navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative; /* Для правильного позиционирования */
}

/* Меню для десктопа */
.navbar-menu-desktop {
  flex: 1; /* Меню будет слева */
}

/* Логотип */
.navbar-right {
  margin-left: auto; /* Логотип будет справа */
  margin-right: 0;
}

.logo-image {
  max-width: 150px;
  height: auto;
  cursor: pointer;
}

/* Для мобильных устройств */
.navbar-menu-mobile {
  display: none; /* Скрываем меню для десктопа */
}

/* Логотип для мобильных */
.navbar-right {
  margin-left: auto; /* Логотип будет справа */
}

@media (max-width: 768px) {
  .navbar-menu-desktop {
    display: none; /* Скрываем меню для десктопа */
  }

  /* Бургер-меню слева */
  .navbar-menu-mobile {
    display: flex;
    position: absolute;
    left: 20px;
    top: 100%;
    transform: translateY(10%);
  }

  /* Логотип для мобильных */
  .navbar-right {
    margin-left: auto; /* Логотип будет справа */
    position: absolute;
    right: 0px;
    top: 100%;
    transform: translateY(10%);
  }
}
